header {

    background-color: #d6815d;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;

}

.imobimg {
    width: 80px;
}

.imobh1 {
    size: 130px;
    color: rgb(255, 255, 255);

}




.sec1 {

    background-color: #e09a75;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec1 img {
    width: 500px;
}

.imobp {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.sec2 {
    background-color: #ebb38c;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-2 {
    width: 500px;
}

.imobp2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.sec3 {
    background-color: #f5cba4;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-03 {
    width: 500px;
}

.imobp3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.sec4 {

    background-image: url(img/imagem-imobiliaria-hd-8k-papel-de-parede-imagem-fotografica_890746-92328.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px;

}

.sec5{
    background-color: #d6815d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 900px;
    padding: 30px;
}

.imobimg2{
width: 60px;

}

.imobh2{
    color: #000000;
    font-size: 20px;
}

.sec6{
    background-color: #ebb38c;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* .navbar { 
     background: rgba(0, 0, 0, 0.7);
     padding: 40px;
     display: flex;
     justify-content: center;
     position: ;
     width: 100px;
     top: 0px; */